<!DOCTYPE html>
<html>
    <head>
        <title>Dropbox App</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="app">
            <dropbox-viewer :solidpath="path"></dropbox-viewer>
        </div>
        <script type="text/x-template" id="dropbox-viewer-template">
            <div>
                <h1>Dropbox</h1>
                <transition name="fade">
                    <div v-if="isLoading">
                        <div v-if="isLoading === 'error'">
                            <p>Issue with URL entered. Please review the url</p>
                            <p><a href="">Home</a></p>
                        </div>
                        <div v-else>    
                            Loading....
                        </div>    
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="!isLoading">
                        <breadcrumb :activefolder="path"></breadcrumb>
                        <ul>
                            <template v-for="item in holder.folder">
                                <directory  :content="item"></directory>
                            </template>
                            <template v-for="item in holder.files">
                                <file :dbox="dropbox()" :content="item"></file>
                            </template>    
                        </ul>
                    </div>
                </transition>                    
            </div>    
        </script>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.17/Dropbox-sdk.min.js"></script>
    <script src="app.js"></script>
</html>