<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>First Example</title>
</head>
<body>
    <div id="example">
        <p>{{example}}</p>
        <user-name name="Meku"></user-name>
        <user-name name="Teku"></user-name>
        <user-name name="Ieku"></user-name>
        <user-name name="Hemaku"></user-name>
        <Sidebar></Sidebar>
        <h4>{{ Math.sqrt(81)}}</h4>
        <p :style="{textDecoration: decoration}">Line</p>
        <p :style="styling">Hi Hiku Hi Hike Hihi</p>
        <p :class="{goForUnder: verifyBold, gainWeight: verifyBold}">Meku Teku and Hemaku</p>
        <a :href="website" target="_blank">{{content}}</a>
        <p>
            <input v-model="masiga" placeholder="Type your message">
            <h2>{{masiga}}</h2>
        </p>
        <p>
            <select v-model="fruit">
                <option disabled value="">Choose your fruit</option>
                <option>Mango</option>
                <option>Banana</option>
                <option>Orange</option>
            </select>
            <span v-show="fruit">{{fruit}}</span>
            <p v-if="fruit">
                <span v-text="'Hi! I am glad that you selected fruit ' + fruit"></span>
            </p>
            <p v-else>
                <span>Not found</span>
            </p>
        </p>
        <p>
            <ul  v-for="anim in marvel">
                <li>{{anim}}</li>
            </ul>
        </p>
    </div>
</body>
<style>
    .underline { text-decoration: underline}
    .weight { font-weight: bolder}
</style>
<script src="https://unpkg.com/vue"></script>
<script>
    const Sidebar = {
        template: '<aside>Another Article</aside>'
    }


    Vue.component('user-name',{
        props: ['name'],
        template: '<h2>{{name}}</h2>'
    })


    new Vue({
        el : '#example',
        data: {
            example : 'Hello World',
            decoration: 'underline line-through',
            weight: 'bold',
            goForUnder: 'underline',
            gainWeight: 'weight',
            verifyBold: true,
            website: 'http://www.esakal.com',
            content: "Maay Mauli",
            masiga: "",
            fruit:'',
            marvel:['IronMan','Thor','Captain America','Black Panther']
        },
        components : {
            Sidebar
        },
        computed : {
            styling : function() {
                return {
                    textDecoration: this.decoration,
                    textWeight: this.weight
                }
            }
        }
    });

</script>
</html>