<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>First Example</title>
</head>
<body>
    <div id="example">
        <p>{{example}}</p>
        <user-name name="Meku"></user-name>
        <user-name name="Teku"></user-name>
        <user-name name="Ieku"></user-name>
        <user-name name="Hemaku"></user-name>
        <Sidebar></Sidebar>
        <h4>{{ Math.sqrt(81)}}</h4>
        <p :style="{textDecoration: decoration}">Line</p>
        <p :style="styling">Hi Hiku Hi Hike Hihi</p>
        <p :class="{goForUnder: verifyBold, gainWeight: verifyBold}">Meku Teku and Hemaku</p>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <div>
            <ul>
                <li v-for="todo in todos">{{todo.title}}</li>
            </ul>
        </div>
        <div>
            <ul>
                <li v-for="todo in todos" v-text="todo.title"></li>
            </ul>
        </div>
        <div>
            <ul>
                <li v-for="(todo, index) in todos" v-text="index"></li>
            </ul>
        </div>
        <div>
            <a v-on:click="handleSomething">Click and Trick!</a>
        </div>
        <div>
            <a @click="handleParameter('iku')">Click and Trick! with parameter</a>
        </div>
        <div v-show="keepvisible">
            <h1>Show me the money</h1>
        </div>
    </div>
</body>
<style>
    .underline { text-decoration: underline}
    .weight { font-weight: bolder}
</style>
<script src="https://unpkg.com/vue"></script>
<script>
    const Sidebar = {
        template: '<aside>Another Article</aside>'
    }


    Vue.component('user-name',{
        props: ['name'],
        template: '<h2>{{name}}</h2>'
    })


    new Vue({
        el : '#example',
        data: {
            example : 'Hello World',
            decoration: 'underline',
            weight: 'Bold',
            goForUnder: 'underline',
            gainWeight: 'weight',
            verifyBold: true,
            items: ['car','bike','dog'],
            todos : [
                { id: 1, title: 'Keep on marching'},
                { id: 2, title: 'another marching'}
            ],
            keepvisible: false
        },
        methods: {
            handleSomething : function() {
                alert("Test");
            },
            handleParameter : function(parameter) {
                alert(parameter);
            }
        },
        components : {
            Sidebar
        },
        computed : {
            styling : {
                textDecoration: this.decoration,
                textWeight: this.weight
            }
        }
    });

</script>
</html>