<!document html>
<html ng-app="servApp">
<head>
    <title>AngularService by Example</title>
</head>
<body ng-controller="servControl">
<div>
    <solid>Test</solid>
    <solid>{{head}}</solid>    
    <table style="min-width: 320px;">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
        <tr ng-repeat="student in students">
            <td>{{$index}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.gender}}</td>
        </tr>
        <tr ng-if="results.length == 0">
            <td colspan="4">No results so far....</td>
        </tr>
    </table>
</div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script>
        var servApp = angular.module("servApp",[]);
        
        servApp.controller("servControl", function($scope, $http) {
            $scope.students = [];
            $scope.head = "Again";
            $http.get("students.json").success(function(response) {
               $scope.students = response; 
                console.log(response);
                console.log(response);
            });
        });
    </script>
</html>