

h1 {
    font-size: 32px;
}

p.Devaclass {
    text-align: center;
    color: white;
    background: red;
    text-transform: capitalize;
}

.testwrap {
    font-style: italic;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold;
}


.nav {
    list-style: none;
    padding: 0;
}

.nav li {
    display: inline;
}