
/* started testing */

body {
    background: blue url('./paper.jpg')  no-repeat;
}

h1 {
    text-align: center;
    color: white;
    font-size: 32px;
    background: red;
    text-decoration: line-through;
    text-transform: lowercase;
}

p.Devaclass {
    text-align: center;
    color: white;
    background: red;
    text-transform: capitalize;
}

.testwrap {
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}