body {
    font-family: sans-serif;
}
h1, h2 {
    color: gray;
}
h1 {
    border-bottom: 2px solid black;
}

p {
    color:maroon;
}

em {
    font-family:serif;
}


p.blueberrytea {
    color: blue;
}

p.greentea {
    color: green;
}

p.rasberrytea  {
    color: purple;
}
