<!doctype html>
<html lang="en" ng-app="ifcheckApp" >
<head>
<title>Angular If DOM Manipulation</title>
<meta charset="utf-8">
</head>
<body ng-controller="ifcheckController">
<div>
    <button ng-click="isChecked = !isChecked">Click To Alter</button>
    <div ng-if="isChecked" style="border: solid 1px black;">
        <h2>Header</h2>
        <p>Paragraph Text</p>
        <p>Another Paragraph</p>
    </div>
</div>
</body>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="app.js"></script>
<script src="ifcheckController.js"></script>
</html>
