<!doctype html>
<html lang="en" ng-app="myApp">
<head>
     <title>This is first AngularApp</title>
</head>
<body ng-controller="FinanceController">
     Your Salary
	<input type="text" ng-model="salary">
	<br>
	<input type="text" ng-model="percentage">%
	<br>The amount of money that you spend on game :
	<span>{{result() | currency}}</span>
	<br>
	<span>As on date : {{asofnow() | date}}</span>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/apps.js"></script>
<script src="js/controllers.js"></script>	
</body>
</html>