<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <div id="stockapp">
        <button @click="LoadStockData">Load All Stock Details</button>
        <table>
            <tr></tr>
            <tr>
                <td>
                    <span>Please Enter Company Ticker Symbol :</span>
                    <input v-model="stockname" v-on:keyup="WatchKeyup" placeholder="KO for Coca Cola Inc." />
                    <button v-on:click="GetStockDetails()">Get Details</button>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>
                    <div v-show="fetchStatus">
                        <div v-if="resultArrived">
                            We found the details
                            <stock-details :stock-object="resultDetails"></stock-details>
                        </div>
                        <div v-else>{{errorMessage}}</div>
                    </div>    
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="main.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>