<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Rendering with Controls</title>
</head>
<body>
    <div id="rendArry">
        <div>
            <label><strong>Maximum Movie watched in Month</strong></label>
            <input type="range" v-model="maxCount" min="0" max="99" />
            <small>{{maxMovie}}</small>
        </div>
    <ul>
        <li><strong>Movies</strong></li>
        <li
            v-for="movie in movies"
            v-if="movie.count < maxMovie" >
            {{movie.name}}
        </li>
    </ul>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        var rendArray = new Vue({
            el : '#rendArry',
            data: {
                movies: [
                    {name: 'Inception', count: 1},
                    {name: 'Where eagles dare', count: 2},
                    {name: 'As good as it gets', count: 3},
                    {name: 'Ironman', count: 4},
                    {name: 'Inception', count: 5},
                    {name: 'Where eagles dare', count: 6},
                    {name: 'As good as it gets', count: 7},
                    {name: 'Ironman', count: 8},
                    {name: 'Inception', count: 9},
                    {name: 'Where eagles dare', count: 10},
                    {name: 'As good as it gets', count: 11},
                    {name: 'Ironman', count: 12}
                ],
                maxMovie: 5
            }
        });
    </script>
    </div>
</body>
</html>