<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
</head>

<body>
  <!-- Add your site or application content here -->
  <p>Hello world! This Vuejs Guide from vuejs.org.</p>
  <div id="formApp">
    <input type="checkbox" v-model="toggle" true-value="Offcourse it is yes" false-value="Nope, never">
    <span>Selection so far {{toggle}}</span>
    <span>
        <div>
            <input type="radio" v-model="tunestat" v-bind:value="sajanradio">
            Radio tune station {{tunestat}}
        </div>
    </span>
    <div>
        <select v-model="selobj">
            <option v-bind:value="{ counter: 999}">Number 9</option>
        </select>
        Next Task {{selobj}}
    </div>

  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/formbind.js"></script>
</body>
</html>
