<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue.js Guide</title>
    </head>
    <body>
        <div id="app">
            <h4 v-once>{{title}}</h4>
            <p>{{message1}}</p>
            <ul>
                <li v-for="record in skillset">{{record}}</li>
            </ul>
            <button v-on:click="reverseMessage">Reverse the Message</button>
            <div>
                <todo-item
                    v-for="(record, index) in todoList"
                    v-bind:todo="record"
                    v-bind:index="index"
                    v-bind:key="record.Id" v-on:remove="removeTodo"></todo-item>
            </div>
            <div>
                {{rawHTML}}
                <h4 v-html="rawHTML"></h4>
                <button v-bind:disabled="isButtonDisabled">Button</button>
            </div>
            <div v-bind:style="{ color: ActiveSpray, fontSize: activeFont }">
                Test it all - Also Make sure everything is working.....
            </div>    
            <ul>
                <template v-for="record in todoList">
                    <li>Item - {{record.Id}}
                        Item Detail - {{record.item}}
                    </li>
                </template>
            </ul>
            <h1>Conditional Iteration</h1>
            <ul>
                <template v-for="record in todoList">
                    <li v-if="record.Id === 3">Item - {{record.Id}}
                        Item Detail - {{record.item}}
                    </li>
                </template>
            </ul>
        </div>
        <div id="app1">
            <p>Basic Message : {{message}}</p>
            <p>
                <input v-model="message">
            </p>
            <p>Reverse Message : {{reversestring}}</p>
            <p v-if="seen">Now you can see me</p>
            <a v-bind:href="url">See where can go</a>
            <h1>{{fullName}}</h1>
            <div v-if="Math.random() > 0.5">
                <h1>YES</h1>
            </div>
            <div v-else>
                <h2>No</h2>
            </div>
            <h1>Testing v-if-else-if ladder for the first time</h1>
            <div v-if="type === 'A'">
                A
            </div>
            <div v-else-if="type === 'B'">
                B
            </div>
            <div v-else>
                This is something else
            </div>
            <div>
                <span v-for="n in 10">Number {{n}} </span>
            </div>
            <div>
                <h4>{{multiln}}</h4>
                <textarea v-model="multiln" placeholder="Add something"></textarea>
            </div>
            <div>
                <input type="checkbox" id="checkid" v-model="checkState">
                {{checkState}}
            </div>
            <div>
                <input type="checkbox" id="teku" value="teku" v-model="checkgroup">
                <label for="teku">Teku</label>
                <input type="checkbox" id="meku" value="meku" v-model="checkgroup">
                <label for="meku">Meku</label>
                <input type="checkbox" id="iku" value="iku" v-model="checkgroup">
                <label for="iku">Iku</label>
                {{checkgroup}}
            </div>
            <div>
                <input type="radio" id="one" value="onemeku" v-model="radioval">
                <label for="one">One</label>
                <input type="radio" id="two" value="twomeku" v-model="radioval">
                <label for="one">two</label>
                {{radioval}}
            </div>
            <div>
                <select v-model="sellist" multiple>
                    <option disabled value="">Please select following value</option>
                    <option value="Kiku">A</option>
                    <option value="Meku">B</option>
                    <option value="Teku">C</option>
                </select>
                <span>Selected {{sellist}}</span>
            </div>
            <span>
                <select v-model="boqual">
                    <option v-for="record in dylist" v-bind:value="record.value">
                        {{ record.head}}
                    </option>
                </select>
                <span>
                    So far selected bo {{boqual}}
                </span>
            </span>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</html>