<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Property Passing to Component</title>
    </head>
    <body>
        <div id="propApp">
            <div :style="{fontSize: fontsizeupdate + 'em' }">
                <blog v-for="record in bloglist"
                  v-bind:key="record.id"
                  v-bind:postrecord="record"
                  v-on:increzefont="updatefontsize">
                </blog>
            </div>
            <ul v-for="record in bloglist">
                    <li>
                        {{record.title}}
                    </li>
            </ul>
        </div>
    </body>
    <script src="https://unpkg.com/vue"></script>
    <script src="js/proptest.js"></script>
</html>