<!doctype html>
<html lang="en" ng-app="asynApp">
<head>
    <meta charset="utf-8">
    <title>Asynch Callback testing using AngularJS</title>
</head>
<body ng-controller="asynController">
    {{asynStatus}}
    <br>
    <br>
    <input type="button" ng-click="getStatusMessage()" value="Invoke ASynch operation and get status message">
    <br>
    <input type="button" ng-click="cancelRequest=true" value="Cancel ASynch opertion">
    <br>
    {{promiseStatus}}
    <br>
    <input type="button" ng-click="alwaysReject()" value="Reject it">
    <br>
    {{alwaysStatus}}
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="asynapp.js"></script>
    <script src="asyncontroller.js"></script>
</html>