<!doctype html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="utf-8">
    <title>Weather with AngularJS Support</title>
    <style>
        td {
            text-align: right;
        }
        
        error_message {
            color : red;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="weatherController">
    <h1>{{weatherAppStatus}}</h1>
    <form class="form-horizontal" name="weatherForm" ng-submit="getWeather()" novalidate="">
        <div class="form-group">
            <label class="control-label col-sm-2" for="input-one"><strong>City : </strong></label>
            <div class="col-sm-10">
                <input size="30" class="form-control" type="text" name="weatherCity" ng-model="weatherForm.city" placeholder="Enter City Name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="input-one"><strong>Country : </strong></label>
            <div class="col-sm-10">
                <input size="30" type="text" class="form-control" name="weatherCountry" ng-model="weatherForm.country" placeholder="Enter Country Name" required>

            </div>
        </div>
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="Get Weather Details" />
            </div>
        </div>
       <div class="form-group" style="color: red" ng-messages="weatherForm.weatherCity.$error">
            <div class="col-xs-9 col-xs-offset-3">
                <div ng-message="required">
                    City Name is required
                </div>
            </div>
        </div>
       <div class="form-group" style="color: red" ng-messages="weatherForm.weatherCountry.$error">
            <div class="col-xs-9 col-xs-offset-3">
                <div ng-message="required">
                    Country Name is required
                </div>
            </div>
        </div>
    </form>    
    <table>
        <tr>
            <td>
                <b>Weather Details as follows.... </b>
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td>
                {{weatherDetail}}
            </td>
        </tr>
    </table>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.min.js"></script>
    <script src="weathApp.js"></script>
    <script src="weathercontroller.js"></script>
</html>