<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BookLogger</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="container" class="container" style="background-color: #FCFCFC">
        <!-- heading part -->
        <div>
            <h2 style="font-size: 50px; font-family: 'Times New Roman'; text-align: center; background-color: white">
                <p1 style="padding-top: 35px">
                        BookLogger..... (Reading is such fun)
                </p1>
            </h2>
        </div>
        <!-- Navigation -->
        <div id="Main">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand active">Enjoy the Fanatistic World of Book</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#" v-on:click="DoProcessing('home')">Home</a></li>
                        <li><a href="#" v-on:click="DoProcessing('AboutMe')">About BookLogger</a></li>
                        <li><a href="#" v-on:click="DoProcessing('NewEntry')">Add New Entry</a></li>
                        <li><a href="#" v-on:click="DoProcessing('BrowseLog')">Browse the Log</a></li>
                    </ul>
                </div>
            </nav>
            <div v-if="active === 'NewEntry'">
                <form id="newentry" class="form-horizontal" name="logentry">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="input-one"><strong>Book Name : </strong></label>
                        <div class="col-xs-5">
                            <input  class="form-control" type="text" v-model="bookname" placeholder="Enter Book Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="input-one"><strong>Author : </strong></label>
                        <div class="col-xs-5">
                            <input  class="form-control" type="text" v-model="author" placeholder="Enter Author" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-2  col-sm-offset-2">
                            <button type="submit" class="btn btn-warning" v-on:click="AddLogEntry">Add Entry</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.js"></script>
<script type="text/javascript">
    var BookLogger = new Vue({
                        el: "#Main",
                        data: {
                            active: 'Home'
                        },
                        methods: {
                            DoProcessing : function(item) {
                                this.active = item;
                            },

                            AddLogEntry : function() {
                                var inputArrived = this.bookname + " " + this.author;
                                localStorage.AddLogEntry(inputArrived);
                                alert(inputArrived);
                            }
                        }
    })
</script>

</html>
