<!doctype html>
<html lang="en" ng-app="formApp">
<head>
    <meta charset="utf-8">
    <title>Form with AngularJS</title>
</head>
    <body>
        <h1>{{mainTag}}</h1>
        <h2>Example of AngularJs with different type of control</h2>
        <form name="testForm">
            <input type="text" name="firstname" ng-model="user.firstname" />
            {{user.firstname}}
            <br/>
            <input name="bio" ng-model="user.bio" />
            <br>
            {{user.bio}}
            <br>
            <select name="degree" ng-model="user.education" >
                <option value="BS">Bachelor in Computer Science</option>
                <option value="MS">Master in Computer Science</option>
                <option value="PHD">Doctoerate in Computer Science</option>    
            </select>
            <br>
            User Selected : {{user.education}}
        </form>
        <form name="singleSele">
            <h1>This is another Selection</h1>
            <input type="radio" ng-model="user.choice" value="Hot Tea">Hot Tea
            <br>
            <input type="radio" ng-model="user.choice" value="Coffee">Coffee
            <div>User selected {{user.choice }}</div>
            <br>
            <input type="checkbox" ng-model="country.prefer" ng-true-value="true" ng-false-value="false">United States
            <input type="checkbox" ng-model="country.secondprefer" ng-true-value="false" ng-false-value="true">United Kingdom
        </form>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="Js/formcontroller.js"></script>
</html>