<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue Directive : v-for</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Story filter by Jamesudin</h1>
        <ul class="list-group">
            <li v-for="(count, background) in theme | filterBy 'Jamesudin' in 'author'" class="list-group-item">
               {{count}}.  {{background.plot}} written by {{background.author}}
            </li>
        </ul>
        <div class="form-group">
            <label for="query">Which author do you want</label>
            <input v-model="search" class="form-control">
        </div>
        <ul class="list-group">
            <li v-for="(count, background) in theme | filterBy search in 'author'" class="list-group-item">
               {{count}}.  {{background.plot}} written by {{background.author}}
            </li>
        </ul>
        <h2>Perhaps the best these themes so far found {{famous.length}} </h2>
        <ul class="list-group">
            <li v-for="point in famous" class="list-group-item">
                {{point.plot}} by {{point.author}} with upvotes {{point.upvotes}}
            </li>
        </ul>
    </div>
</body>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.js"></script>    
    <script type="text/javascript">
        new Vue({
            el: ".container",
            data: {
                stories: [
                    "Lets roll it today",
                    "If possible, march it along",
                    "Dont stop till you get it"
                ],
                theme: [
                    {
                        plot: "River Run Through it",
                        author: 'Alex',
                        upvotes: 99
                    },
                    {
                        plot: 'Civil War',
                        author: 'Anand',
                        upvotes: 100
                    },
                    {
                        plot: 'Question Picture',
                        author: 'Jamesudin',
                        upvotes: -9
                    }
                ],
            },
            computed : {
                famous : function() {
                    return this.theme.filter(function(item) {
                        return item.upvotes > 99;
                    });
                }
            }

        })
    </script>
</html>
